@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none!important;
    caret-color: rgba(0, 0, 0, 0);
}
a{
    color: rgba(0, 0, 0, 0.664);

}
a:hover{
    color: rgb(0, 0, 0);;
}
/* -------------NAV------------- */
.valordiv{
    position: absolute;
    left: 79%;
}
#valor{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.iconbasket{
    position: absolute;
    left: 84.5%;
}
#basket-img{
    height: 2rem;
}
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(168, 232, 157);
    line-height: 4.5rem;
    position: fixed;
    z-index: 1;
}
nav .menu{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    width: 100%;
    
}
nav .menu p{
    position: absolute;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0.5rem;
}
#butao{
    position: relative;
    vertical-align: middle;
    height: 100%;
    left: 13%;
    padding: 0.5rem;
    margin: 0.8rem;
}

.fotos{
    width: 90%;
    margin: auto;
    padding-top: 10%;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.pic{
    
    position: relative;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 2px 6px 10px;    
    width: 25%;
}
.pic img{
    width: 100%;
    height: 100%;
    
}
.pic::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    letter-spacing: 0.2rem;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(29, 29, 29, 0.747);
    transition: 0.3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}

#up img,#agua img,#coca img,#compal1 img,#compal2 img,#monster img,#pepsi img,#pessego img,#redbull img{
    max-height: 85%;
    max-width: 85%;
}
#compal3 img{
    max-height: 150%;
    max-width: 95%;
}
#sumol img{
    max-height: 95%;
    max-width: 95%;
}
#sumol2 img{
    height: 90%;
    width: 90%; 
}
#leite img{
    max-height: 75%;
    max-width: 75%;
}
#limao img{
    max-height: 100%;
    max-width: 75%;
}
.pic img{
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#coca::before{
    content:"COCA-COLA\a 10€";
    white-space: pre;
}
#up::before{
    content:"7UP\a 10€";
    white-space: pre;
}
#agua::before{
    content:"AGUA\a 10€";
    white-space: pre;
}
#monster::before{
    content:"MONSTER\a 10€";
    white-space: pre;
}
#redbull::before{
    content:"REDBULL\a 10€";
    white-space: pre;
}
#pepsi::before{
    content:"PESPI\a 10€";
    white-space: pre;
}
#limao::before{
    content:"ICE TEA LIMAO\a 10€";
    white-space: pre;
}
#pessego::before{
    content:"ICE TEA PESSEGO\a 10€";
    white-space: pre;
}
#leite::before{
    content:"LEITE ACHOCOLATADO\a 10€";
    white-space: pre;
}
#sumol::before{
    content:"SUMOL ANANAS\a 10€";
    white-space: pre;
}
#sumol2::before{
    content:"SUMOL LARANJA\a 10€";
    white-space: pre;
}
#compal1::before{
    content:"COMPAL MANGA LARANJA\a 10€";
    white-space: pre;
}
#compal2::before{
    content:"COMPAL LARANJA\a 10€";
    white-space: pre;
}
#compal3::before{
    content:"COMPAL PESSEGO\a 10€";
    white-space: pre;
}